SimpleSimilarityCalculator/src/main/java/org/nagoya_u/ertl/sa/parser/*
reports/*
.vscode
.snapshots
__pycache__
*.env
ChatGPT_archive/*
__pycache__/*
__pycache__
tmp/*
.env
.alpackages/*
./CSharpFuncExtract/*
./ErlangFuncExtract/*
./LuaFuncExtract/*