/* body{
    width: 1800px;
    margin: 0 auto;
} */

.left, .right {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.left{
    border-right: 3px solid #ccc;
}
.right{
    border-left: 3px solid #ccc;
}

#vectorCanvas{
    margin: 0 auto;
    /* min-width: 300px; */
    /* min-height: 400px; */
}

.mleft, .mright {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.mMiddle{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 auto;
}
.mright{
    text-align: left;
}
#segmentInfo{
    border: 3px solid #ccc;
    padding: 10px;
    margin-bottom: 50px;
}
#segmentInfo .infoLine{
    overflow: overlay;
}
.infoLine span, span.infoLine{
    display: inline-block;
    width: 200px;
    line-height: 20px;
    font-weight: bold;
    /* text-overflow: ellipsis; */
}

#segmentInfo .mMiddle{
    max-height: 400px;
    overflow: scroll;
}

#main{
    padding: 10px;
}

.similarity {
    text-align: center;
}



.similarity{
    text-align: center;
    vertical-align: text-bottom;
}
.similarity span{
    display: inline-block;
    height: 20px;
}

#test{
    height: 20px;
    width: 100px;
    margin: 0 20px;
    /* background-color: aqua; */

    display: inline-block;

}

.simiItem {
    border-bottom: 2px dashed #ccc;
}

pre{
        /* white-space: pre-wrap;
    word-wrap: break-word; */
    max-height: 200px;
    overflow: scroll;
    text-align: left;
    /* position: relative;

    counter-reset: line-numbering; */

}

.infoPanel span{
    font-weight: bold;
}