<html>
    <head>
        <title></title>

        <link rel="stylesheet" href="../../../templete/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">

    </head>
    <body>
        
        <div id="segmentInfo">
            <div class="mleft">
                <h2>Segment1</h2>
                <div class="infoPanel">
                    <div class="infoLine">
                        <span>Project Name: </span> {{report.segment1.projectName}}
                    </div>
                    <div class="infoLine">
                        <span>File Path:</span> {{report.segment1.filePath}}
                    </div>
                    <div class="infoLine">
                        <span>Function Name:</span> {{report.segment1.functionName}}
                    </div>
                    <div class="infoLine">
                        <span>Default branch:</span> {{report.segment1.defaultBranch}}
                    </div>
                    <div class="info">
                        <span>Commit Number (File Modification): </span> {{report.segment1.commitNum_fileModification}}
                    </div>
                    <div class="info">
                        <span>Commit Number (Function Identfication): </span> {{report.segment1.commitNum_functionIdendified}}
                    </div>
                    <div class="info">
                        <span>Commit Number (Function Modification): </span> {{report.segment1.commitNum_functionModification}}
                    </div>
                </div>
            </div>
            <div class="mMiddle">
                <canvas id="vectorCanvas" height="200px" width="500px"></canvas>
            </div>
            

            <div class="mright">
                <h2>Segment2</h2>
                <div class="infoPanel">
                    <div class="infoLine">
                        <span>Project Name: </span> {{report.segment2.projectName}}
                    </div>
                    <div class="infoLine">
                        <span>File Path:</span> {{report.segment2.filePath}}
                    </div>
                    <div class="infoLine">
                        <span>Function Name:</span> {{report.segment2.functionName}}
                    </div>
                    <div class="infoLine">
                        <span>Default branch:</span> {{report.segment2.defaultBranch}}
                    </div>
                    <div class="info">
                        <span>Commit Number (File Modification): </span> {{report.segment2.commitNum_fileModification}}
                    </div>
                    <div class="info">
                        <span>Commit Number (Function Identfication): </span> {{report.segment2.commitNum_functionIdendified}}
                    </div>
                    <div class="info">
                        <span>Commit Number (Function Modification): </span> {{report.segment2.commitNum_functionModification}}
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            {% for simiItem in report.simiItems %}

            {% if simiItem.index != 0 %}
            <div class="diff">
                <div class="left">
                    {% if simiItem.reasonSegment == "segment1" %}
                    <pre><code class="language-diff" >{{simiItem.diffContent}}</code></pre>
                    {% endif %}
                </div>

                <div class="right">
                    {% if simiItem.reasonSegment == "segment2" %}
                    <pre><code class="language-diff">{{simiItem.diffContent}}</code></pre>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <div class="simiItem">
                <div class="similarity">
                    <span>Overlap Similarity:  {{simiItem.oSimi}}</span>

                    <div id="test">
                        {% if simiItem.newerSegment == "segment1" %}
                            <span> <- New </span>
                        {% else %}
                            <span>  New -> </span>
                        {% endif %}

                    </div>

                    <span>LCS Similarity:  {{simiItem.lSimi}}</span>
                </div>
                <div class="left">
                    <div class="infoPanel">
                        <div class="infoLine">
                            <span>Commit Id: </span> {{simiItem.segment1.commitId}}
                        </div>
                        <div class="infoLine">
                            <span>Date: </span> {{simiItem.segment1.commitContent.date}}
                        </div>
                        <div class="infoLine">
                            <span>Position: </span> {{simiItem.segment1.commitContent.startLine ~ "-" ~ simiItem.segment1.commitContent.endLine}}
                        </div>
                        <div class="infoLine">
                            <span>Author: </span> {{simiItem.segment1.commitContent.author}}
                        </div>
                    </div>
                    <div class="code">
                        <pre><code class="language-{{report.language}}">{{simiItem.segment1.code}}</code></pre>
                    </div>
                </div>
                <div class="right">
                    <div class="infoPanel">
                        <div class="infoLine">
                            <span>Commit Id: </span> {{simiItem.segment2.commitId}}
                        </div>
                        <div class="infoLine">
                            <span>Date: </span> {{simiItem.segment2.commitContent.date}}
                        </div>
                        <div class="infoLine">
                            <span>Position: </span> {{simiItem.segment2.commitContent.startLine ~ "-" ~ simiItem.segment2.commitContent.endLine}}
                        </div>
                        <div class="infoLine">
                            <span>Author: </span> {{simiItem.segment2.commitContent.author}}
                        </div>
                    </div>
                    <div class="code">
                        <pre><code class="language-{{report.language}}">{{simiItem.segment2.code}}</code></pre>
                    </div>
                </div>

            </div>
            {% endfor %}
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>
<script>
    hljs.highlightAll();</script>

    
    <script>
        DVGData = {{report.DVGData}};


        const canvas = document.getElementById("vectorCanvas");
        const ctx = canvas.getContext("2d");




        const canvasHeight = canvas.height;
        const canvasWidth = canvas.width;

        // configuration

        const X1 = 50;
        const margin_top = 30
        const margin_left_right = 30
        const arc_size = 5
        const similarityLine = 200
        const similarityLine_marginLeft = 20

        const lineWidth = 2
        //const gap_line = canvasWidth - similarityLine - similarityLine_marginLeft - 2 * margin_left_right - 2 * lineWidth
        const gap_line = canvasWidth - 2 * margin_left_right - 2 * lineWidth


        const X2 = X1 + gap_line;
        //const gap_size_point = 20
        const gap_num_line = DVGData.points.length  + 1
        const gap_size_point = Math.floor((canvasHeight - margin_top) / gap_num_line)
        const length_line = gap_num_line * gap_size_point
        //const gap_line = 200
  
        


        ctx.fillText("segment1", X1 - 25, margin_top - 5);

        

        // 绘制直线1
        ctx.beginPath();
        ctx.moveTo(X1, margin_top);
        ctx.lineTo(X1, margin_top + length_line);

        ctx.moveTo(X1, margin_top);
        ctx.lineTo(X1 + arc_size, margin_top + arc_size);
        ctx.moveTo(X1, margin_top);
        ctx.lineTo(X1 - arc_size, margin_top + arc_size);
        ctx.moveTo(X1, margin_top + length_line);
        
        ctx.closePath();
        ctx.lineWidth = lineWidth;
        ctx.stroke();

        ctx.fillText("segment2", X2 - 30, margin_top - 5);

        

        // 绘制直线2
        ctx.beginPath();
        ctx.moveTo(X2, margin_top);
        ctx.lineTo(X2, margin_top + length_line);

        ctx.moveTo(X2, margin_top);
        ctx.lineTo(X2 + arc_size, margin_top + arc_size);
        ctx.moveTo(X2, margin_top);
        ctx.lineTo(X2 - arc_size, margin_top + arc_size);
        ctx.moveTo(X2, margin_top + length_line);

        ctx.closePath();
        ctx.lineWidth = lineWidth;
        ctx.stroke();


        // 绘制点
        ctx.fillStyle = "red";
        for (let pointIndex = 0; pointIndex < DVGData.points.length; pointIndex++){
            ctx.beginPath();
            if ( DVGData.points[pointIndex].segment == "segment1" ){
                ctx.arc(X1, margin_top + (gap_num_line - pointIndex - 1) * gap_size_point, 5, 0, 2 * Math.PI);
                DVGData.points[pointIndex].x = X1
                DVGData.points[pointIndex].y = margin_top + (gap_num_line - pointIndex - 1) * gap_size_point
           
            } else {
                ctx.arc(X2, margin_top + (gap_num_line - pointIndex - 1) * gap_size_point, 5, 0, 2 * Math.PI);
                DVGData.points[pointIndex].x = X2
                DVGData.points[pointIndex].y = margin_top + (gap_num_line - pointIndex - 1) * gap_size_point
            }

            ctx.fill();
        }

        // similarity line 
        //const similarityLine_startX = margin_left_right + lineWidth * 2 + gap_line + similarityLine_marginLeft;
        //.beginPath();
        //ctx.moveTo(similarityLine_startX, margin_top + length_line);
        //ctx.lineTo(similarityLine_startX + similarityLine, margin_top + length_line);


        // 连接点 // linkArr[2] : similarity
        ctx.beginPath();
        DVGData.links.forEach(linkArr => {
            ctx.moveTo(DVGData.points[linkArr[0]].x, DVGData.points[linkArr[0]].y);
            ctx.lineTo(DVGData.points[linkArr[1]].x, DVGData.points[linkArr[1]].y);

            const y = (DVGData.points[linkArr[0]].y + DVGData.points[linkArr[1]].y) / 2
            const x = margin_left_right + lineWidth + gap_line / 2
            ctx.fillText(parseFloat(linkArr[2]).toFixed(2), x, y); 
            //ctx.moveTo(similarityLine_startX, y);
            //ctx.lineTo(similarityLine_startX + linkArr[2] * similarityLine.toFixed(2), y);

        });
        ctx.lineWidth = lineWidth;
        ctx.stroke();


        ctx.fillText("new", 0, 10);
        ctx.fillText("old", 0, canvasHeight);



    </script>

</html>